body,
html {
  background: rgb(34, 92, 157);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  font-size: 15px;
  color: black;
  line-height: 1.5em;
  margin: 0.5rem;
  padding: 0.7 rem;
}
#main {
  background-image: url(background2.jpg);
  background-repeat: no-repeat center fixed;
  background-size: cover;
  margin: auto;
  border-radius: 25px;
}
#page-header {
  background-image:url(tech-head.jpeg);
  background-size:contain;
  background-repeat:no-repeat center fixed;
  border-radius: 2rem;
  height: 13rem;
  overflow: none;
  border: 0.3rem solid;
}
.ubunto-icon {
  width: 2.5rem;
}
#header-title {
  color: white;
  text-align: center;
  font-family: cursive;
  font-size: 3rem;
  text-decoration: underline double;
  margin: 0.7rem;
  margin-bottom: 1.5rem;
}
.menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between 2rem;
}
button {color:white;
  font-size:2rem;
  background-color: rgb(60, 108, 161);
  min-width: 3rem;
  min-width: 3rem;
  padding: 1rem;
  border-radius: .5rem;
  margin: 0;
}
a{text-decoration:none; }
button :hover {
  background-color: rgb(202, 100, 16);
}
button :visited {
  color: cornsilk;
}
button :link {
  color: rgb(11, 238, 238);
}
#header-note {
  color: whitesmoke;
  font-size: 1.25rem;
  margin-left: 3rem;
  font-style: italic;
}
#main > h1 {
  text-align: center;
  font-size: 2.5rem;
}
#down-ubunto {
  order: 2;
  width: 50%;
}

#down-ubunto > h2 {
  font-size: 2rem;
  margin-left: 25px;
}
#down-ubunto ul {
  list-style: square;
  line-height: 3rem;
  font-size: 1.5rem;
}
article li:nth-child(odd) {
  background-color: rgba(0, 0, 255, 0.438);
  width: 70%;
}
#download {
  order: 3;
  width: 50%;
  font-size: 2rem;
  color: orchid;
  margin-left: 2rem;
}
#flash {
  order: 4;
  width: 50%;
  margin-left: 2rem;
}
#flash > h3 {
  font-size: 2rem;
}
#flash > p {
  color: orchid;
  font-size: 1.75rem;
}
#vid {
  order: 5;
  margin-left: 2rem;
  color: orchid;
  width: 50%;
  font-size: 2rem;
}
.page-footer {
  border-radius: 2rem;
  text-align: center;
  background-color: skyblue;
  font-size: 1.5rem;
  width: 100%;
}
@media only screen and (max-width:700px) {
#main{font-size:small:}
}

@media only screen and (max-width: 320px) 
  {
    button {
      min-width: 46px;
      min-height: 46px;
      padding: .2rem;
      margin: 0rem;
    
   }
   a {text-decoration:none; }

  
    .ubunto-icon {
      width: 20px;
      height: 20px;
    }
    .page-footer {
      font-size: smaller;
    }
    .side-bar {
      visibility: hidden;
    }
  }
  
}
