body,
html {
  background: rgb(34, 92, 157);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  font-size: 15px;
  color: black;
  line-height: 2rem;
  margin: 0.5rem;
  padding: 0.7 rem;
}
#main {
  background-image: url(background2.jpg);
  background-repeat: no-repeat center fixed;
  background-size: cover;
  margin: auto;
  border-radius: 25px;}

#page-header {
  background-image: url(tech-head.jpeg);
  background-size: contain;
  background-repeat: no-repeat center fixed;
  border-radius: 2rem;
  height: 13rem;
  overflow: none;
  border: 0.3rem solid;
}
#header-title {
  color: white;
  text-align: center;
  font-family: cursive;
  font-size: 3rem;
  text-decoration: underline double;
  margin: 0.7rem;
  margin-bottom: 1.5rem;
}
.menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between 2rem;
}
a{text-decoration:none; }
button {
  color: white;
  font-size: 2rem;
  background-color: rgb(60, 108, 161);
  min-width: 3rem;
  min-width: 3rem;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 0;
}
button :hover {
  background-color: rgb(202, 100, 16);
}
button :visited {
  color: cornsilk;
}
button :link {
  color: rgb(11, 238, 238);
}
#header-note {
  color: whitesmoke;
  font-size: 1.25rem;
  margin-left: 3rem;
  font-style: italic;}
  form {text-align:center;}
  .page-footer {
    border-radius: 2rem;
    text-align: center;
    background-color: skyblue;
    font-size: 1.5rem;
    width: 100%;
  }
}
@media only screen and (max-width: 320px) 
  {
    
  
}
