body,
html {
  background: rgb(34, 92, 157);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: black;
  line-height: 2rem;
  margin: 0rem;
}
#main {
  background-image: url(background2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1rem;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sub-cont {
  width: 45%;
  display: flex;
  flex-direction: column;
}
#page-header {
  background-image: url(tech-banner.jpeg);
  background-size: 100%;
  border-radius: 2rem;
  height: 13rem;
  border: 0.3rem solid black;
  display: flex;
  flex-direction: column;
}
.ubunto-icon {
  width: 2.5rem;
}
#header-title {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 3rem;
  font-style: italic;
  text-decoration: underline double;
  margin: 0.7rem;
  margin-bottom: 1.5rem;
  align-self: center;
}
#menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
a {
  text-decoration: none;
}
button {
  color: white;
  font-size: 1.5rem;
  background-color: rgb(60, 108, 161);
  padding: 0.5rem;
  border-radius: 1.5rem;
  flex-basis: 22%;
}
button:hover {
  background-color: rgb(238, 87, 213);
}
button :visited {
  color: cornsilk;
}
button :link {
  color: rgb(11, 238, 238);
}
#header-note {
  color: whitesmoke;
  font-size: 1.5rem;
  margin-left: 2rem;
  font-style: italic;
  align-self: flex-start;
}
#main-address {
  font-size: 3rem;
  align-self: center;
  text-decoration: underline double rgb(255, 115, 0);
}
.article-container {
  width: 70%;
  display: flex;
  justify-content: center;
}
#main-info {
  display: flex;
  flex-direction: column;
  width: 45%;
  padding: 0.3rem;
  font-size: 1.4rem;
}
.main-title {
  text-align: center;
  font-size: 2rem;
  color: green;
  text-decoration: underline dotted black;
}
.main-title ~ p {
  margin: 1rem;
  max-width: 50em;
  line-height: 2rem;
}
.info-list li:nth-child(2n) {
  color: black;
  background-color: burlywood;
}
.info-list {
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
  margin: 1.5rem;
}
article p::first-letter {
  font-size: 150%;
  color: red;
}
li::first-letter {
  font-size: 150%;
  color: rgb(46, 43, 226);
}

.info-list li {
  margin: 0.5rem;
  border-radius: 1.5rem;
  padding: 0.5rem;
  color: whitesmoke;
  background-color: rgba(99, 65, 21, 0.637);
}
.advantages {
  display: flex;
  flex-direction: column;
}
.advantages > p {
  margin-left: 2rem;
  font-size: 1.5rem;
}
.adv-list li:nth-child(2n) {
  background-color: rgba(255, 235, 205, 0.692);
}
.adv-list {
  list-style: none;
  font-size: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.adv-list li {
  background-color: rgba(222, 184, 135, 0.52);
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  flex-basis: 1 1 22%;
}
figure > img {
  width: 500px;
  background-size: 100%;
}
figure {
  color: rgb(121, 6, 25);
  text-align: center;
  align-self: center;
  font-size: 1.5rem;
}
.side-bar {
  align-self: stretch;
  flex-basis: 300px;
  padding: 0.5rem;
  text-align: center;
}
.side-bar > h2 {
  font-size: 2rem;
  color: red;
}
.page-footer {
  border-radius: 2rem;
  background-color: skyblue;
  font-size: 1.5rem;
  align-self: center;
  width: 100%;
  text-align: center;
  margin: 1rem;
}
.page-footer > p {
  margin: 0;
}
@media screen and (min-width: 250px) and (max-width: 599px) {
  .container {
    margin: 1rem;
    width: 95%;
  }
  .sub-cont {
    width: 100%;
  }
  #page-header {
    border-radius: 1rem;
    height: 20rem;
  }
  .ubunto-icon {
    width: 2rem;
  }
  #header-title {
    font-size: 2rem;
  }
  #menu {
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.5rem;
  }
  button {
    font-size: 1.5rem;
    min-width: 1rem;
    min-height: 1rem;
    padding: 0.25rem;
    border-radius: 1rem;
  }
  #header-note {
    margin-left: 0;
  }
  #main {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .article-container {
    width: 100%;
    flex-direction: column;
  }
  .info-list li {
    display: none;
  }
  #main-info {
    width: 95%;
  }
  .advantages > p {
    font-size: 1.25rem;
  }
  .adv-list {
    font-size: 1rem;
  }
  .adv-list li {
    margin: 0.5rem;
    padding: 0.3rem;
    border-radius: 5px;
    line-height: 1.25rem;
  }
  figure > img {
    width: 200px;
  }
  figcaption {
    font-size: 1rem;
  }
  .side-bar {
    display: none;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  body,
  html {
    font-size: 14px;
  }
  #main {
    border-radius: 1rem;
  }
  .container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .sub-cont {
    width: 95%;
    display: flex;
    flex-direction: column;
  }
  #page-header {
    border-radius: 1.25rem;
    flex-direction: column;
  }
  .ubunto-icon {
    width: 2rem;
  }
  #header-title {
    font-size: 2.5rem;
  }
  button {
    font-size: 1.25rem;
  }
  #header-note {
    margin-left: 1rem;
  }
  #main-address {
    font-size: 2.5rem;
  }
  .article-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  #main-info {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 0.3rem;
    font-size: 1.4rem;
  }
  .main-title ~ p {
    margin: 0rem;
  }
  .side-bar {
    align-self: stretch;
    text-align: center;
    max-height: 10rem;
    overflow: scroll;
  }
}
@media screen and (min-width: 1101px) and (max-width: 1450px) {
  body,
  html {
    font-size: 14px;
  }
  #page-header {
    border-radius: 1.5rem;
  }
  button {
    border-radius: 1.25rem;
  }
  .container {
    flex-direction: column;
  }
  .article-container {
    width: 100%;
    justify-content: space-around;
  }
  #main-info {
    border: 3px dotted purple;
    border-radius: 1.5rem;
    width: 45%;
  }
  .sub-cont {
    width: 45%;
    border: 3px dotted purple;
    border-radius: 1.5rem;
  }
  .info-list {
    margin: 1rem;
    font-size: 1.25rem;
  }
  .adv-list {
    font-size: 1.25rem;
  }
  .adv-list li {
    background-color: rgba(222, 184, 135, 0.52);
    margin: 0.5rem;
  }
  figure > img {
    width: 400px;
    background-size: 100%;
  }
  .side-bar {
    width: 95%;
  }